:host {
  --led-input-font: Roboto;
  --led-input-bg-color: #fff;


  font-family: Roboto;

  @if variable-exists(var(--led-input-font)) {
    font-family: var(--led-input-font) !important;
  }

  label {
    cursor: text;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: -20px;
    z-index: 99999;
    color: #5f6368;
    position: absolute;
    margin-bottom: 0;
    -webkit-transform: translate3d(12px, 20px, 0);
    transform: translate3d(12px, 20px, 0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;

    div {
      background-color: var(--led-input-bg-color);
      margin-left: -4px;
      z-index: -1;
      width: calc(100% + 4px);
      height: 100%;
      position: absolute;
      top: 7px;
    }
  }
}

.selected {
  color: #604C8D;
  transform: translate3d(12px, 0, 0) scale(.8);
  -webkit-transform: translate3d(12px, 0, 0) scale(.8);
  font-weight: bold;
}

.outer {
  padding-top: 5px;
  display: "table";
}

.inner {
  background-color: var(--led-input-bg-color);
  border: 1px solid #5f6368;
  margin-top: 6px;
  border-radius: 5px;
  padding-top: 15px;

  &.hasFocus {
    border: 2px solid #604C8D;
  }
}

input {
  background-color: var(--led-input-bg-color);
  border: 0px;
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  font-size: 16px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: -10px;
  margin-bottom: 4px;
  color: #5f6368;
}

input:focus {
  outline: 0;
}